@charset "UTF-8";
/* CSS Document */

/* main style */

/* header/logo */


/* End Main Style */



/* start reponisive style */ 

body {
  background-image: url(../graph240-max/img/bckdrp.jpg);
  background-size: 100%;
  background-position: fixed;
}

header img {
  max-width: 100%;
  scale: 100%;
  
  
}
    
@media screen and (max-width:768px) {

}
    
@media screen and (max-width:320px) {
}